onlyBuiltDependencies[]=@nestjs/core
onlyBuiltDependencies[]=@scarf/scarf
onlyBuiltDependencies[]=@typescript-eslint/visitor-keys
onlyBuiltDependencies[]=puppeteer
onlyBuiltDependencies[]=typescript-eslint
onlyBuiltDependencies[]=unrs-resolver
minimumReleaseAge=0
