name: PR Check - Frontend

permissions:
  contents: read

on:
  pull_request:
    branches: ["main"]
    paths:
      - "frontend/src/**"
      - "frontend/tsconfig.json"
      - "frontend/eslint.config.*"
      - "frontend/pnpm-lock.yaml"
      - "frontend/public/**"
      - ".github/workflows/pr-check-frontend.yml"

  push:
    branches: ["main"]
    paths:
      - "frontend/src/**"
      - "frontend/tsconfig.json"
      - "frontend/eslint.config.*"
      - "frontend/pnpm-lock.yaml"
      - "frontend/public/**"
      - ".github/workflows/pr-check-frontend.yml"

  workflow_dispatch:

jobs:
  check:
    runs-on: ubuntu-latest

    defaults:
      run:
        working-directory: frontend

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Setup pnpm
        uses: pnpm/action-setup@v4
        with:
          version: 10

      - name: Setup Node.js (latest)
        uses: actions/setup-node@v4
        with:
          node-version: latest
          cache: "pnpm"
          cache-dependency-path: frontend/pnpm-lock.yaml

      - name: Install dependencies
        run: pnpm install --frozen-lockfile

      - name: Run prettier formatting check
        run: pnpm format:check

      - name: Run ESLint
        run: pnpm lint

      - name: Build the project
        run: pnpm build

      - name: Check if dist directory exists
        run: |
          if [ ! -d "dist" ]; then
            echo "Error: dist directory does not exist."
            exit 1
          fi
